.progress-bar{
    background-color: var(--fontColor);
    // height: 8px;
    border-radius: 50px;
}

.progress{
    background: rgba(179, 179, 179, 0.1);
    border-radius: 50px;
    height: 8px;
    width: 160px;
}

.review{
    display: flex;
    justify-content: space-evenly;
}

.bar-text{
    font-size: 14px;
    color: var(--fifthColor);
    line-height: 18px;
}

.review-header{
    font-size: 22px;
    color: var(--fontColor);
    line-height: 29px;
    margin-bottom: 5px;
}

.review-title-text{
    font-size: 22px;
    color: var(--fontColor);
    margin-bottom: 0px !important;
    line-height: 20px;
    font-weight: 600;
}

.review-amount{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.review-content-review{
    font-size: 14px;
    color: var(--fifthColor);
    line-height: 21px;
    text-align: justify;
}

.review-content-verify{
    color: #57A55F;
}

.review-content-heading{
    font-size: 16px;
    color: var(--fontColor);
    line-height: 24px;
}

.review-content{
    margin-top: 10px;
}