.buyer-footer{
    background-color: #1A1A1A;
    padding: 51px 80px;
    font-family: var(--primaryFont);
    bottom: 0;
    // position: absolute;
    width: 100%;
}

.footer-logo{
    font-size: 20px;
    color: var(--mainColor);
    font-weight: 600;
    letter-spacing: 0.4px;
    margin-bottom: 20px;
}
.footer-text-div{
    padding-right: 170px;
}
.footer-text{
    color: var(--fourthColor);
    font-size: 14px;
    line-height: 25.2px;
}

.footer-heading-text{
    color: var(--mainColor);
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.footer-heading-div{
    padding-right: 90px;
    margin-top: 40px;
}

.footer-heading{
    color: var(--mainColor);
    font-size: 14px;
    letter-spacing: 0.7px;
    margin-bottom: 15px;
}

.footer-list{
    list-style: none;
    display: block;
    padding: 0px;
    margin-bottom: 40px;
    a{
        text-decoration: none;
        font-size: 14px;
        line-height: 25.2px;
        color: var(--fourthColor);
        letter-spacing: 0.4px;
    }

    li{
        margin-bottom: 10px;
    }
}

.footer-list :hover{
    cursor: pointer;

    a{
        color: var(--primaryColor);
    }
}